
 .auth-container {
  width: 80%; 
  max-width: 950px; 
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  overflow: hidden;
}

.parent-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 40vh; 
  margin: 0; 
}

.tab-header {
  display: flex;
}

.tab-item {
  flex: 1;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  background-color: white;
  color: #3f51b5;
  border-bottom: 2px solid transparent;
  border: 2px solid transparent;
}

.tab-item.active {
  background-color: #3f51b5;
  color: white;
  border-bottom: 2px solid #3f51b5;
  border: 4px solid transparent; 
}

.tab-item:not(.active) {
  border: 3px solid #3f51b5; 
}

.tab-content {
  padding: 20px;
}

.form-field {
  margin-bottom: 20px;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-field input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: none; 
  border-bottom: 1px solid #ddd; 
  border-radius: 0; 
}

.error {
  color: red;
  font-size: 0.8em;
}

.btn-primary {
  width: auto;
  padding: 10px 20px;
  background-color: #001380;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 0; 
}

.btn-primary:disabled {
  background-color: #999;
}
